In [60]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.Max_rows', None)
import warnings
warnings.filterwarnings('ignore')

In [61]:
sales = pd.read_csv('sales.csv')

In [62]:
sales.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2522,2523,CA-2017-124352,15/10/2017,21/10/2017,Standard Class,CD-12790,Cynthia Delaney,Home Office,United States,Oklahoma City,Oklahoma,73120.0,Central,TEC-PH-10003442,Technology,Phones,Samsung Replacement EH64AVFWE Premium Headset,5.50
5916,5917,US-2016-126977,17/09/2016,23/09/2016,Standard Class,PF-19120,Peter Fuller,Consumer,United States,New York City,New York,10035.0,East,OFF-ST-10003058,Office Supplies,Storage,Eldon Mobile Mega Data Cart Mega Stackable A...,94.60
5725,5726,CA-2016-103933,25/09/2016,27/09/2016,First Class,DR-12880,Dan Reichenbach,Corporate,United States,New York City,New York,10011.0,East,TEC-AC-10004171,Technology,Accessories,Razer Kraken 7.1 Surround Sound Over Ear USB G...,899.91
2553,2554,CA-2017-155439,14/09/2017,18/09/2017,Standard Class,PN-18775,Parhena Norris,Home Office,United States,Columbia,South Carolina,29203.0,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,25.92
5926,5927,US-2015-118997,08/04/2015,12/04/2015,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Decatur,Alabama,35601.0,South,FUR-TA-10001086,Furniture,Tables,"SAFCO PlanMaster Boards, 60w x 37-1/2d, White ...",1215.92

### Copy

In [63]:
df = sales.copy()

### Drop irrelevant Cols

In [64]:
df.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
3787,3788,CA-2017-169971,04/09/2017,09/09/2017,Standard Class,IL-15100,Ivan Liston,Consumer,United States,Houston,Texas,77041.0,Central,OFF-AR-10002804,Office Supplies,Art,Faber Castell Col-Erase Pencils,3.912
2025,2026,CA-2016-114237,13/03/2016,15/03/2016,First Class,MC-17275,Marc Crier,Consumer,United States,Seattle,Washington,98103.0,West,FUR-BO-10004409,Furniture,Bookcases,"Safco Value Mate Series Steel Bookcases, Baked...",141.960
9429,9430,CA-2016-166219,28/08/2016,01/09/2016,Standard Class,BP-11185,Ben Peterman,Corporate,United States,Dallas,Texas,75081.0,Central,TEC-PH-10004165,Technology,Phones,Mitel MiVoice 5330e IP Phone,1099.960
8966,8967,CA-2017-134180,03/11/2017,07/11/2017,Standard Class,JP-16135,Julie Prescott,Home Office,United States,Philadelphia,Pennsylvania,19120.0,East,TEC-AC-10000892,Technology,Accessories,NETGEAR N750 Dual Band Wi-Fi Gigabit Router,72.000
9573,9574,CA-2016-113131,24/09/2016,24/09/2016,Same Day,MB-17305,Maria Bertelson,Consumer,United States,Columbus,Ohio,43229.0,East,OFF-AR-10003504,Office Supplies,Art,Newell 347,17.120

In [65]:
cols_to_drop = ['Row ID', 'Order ID', 'Customer ID', 'Customer Name', 'Product ID', 'Product Name']
df.drop(columns = cols_to_drop, inplace = True)

In [66]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Date    9800 non-null   object
 1   Ship Date     9800 non-null   object
 2   Ship Mode     9800 non-null   object
 3   Segment       9800 non-null   object
 4   Country       9800 non-null   object
 5   City          9800 non-null   object
 6   State         9800 non-null   object
 7   Postal Code   9789 non-null   float64
 8   Region        9800 non-null   object
 9   Category      9800 non-null   object
 10  Sub-Category  9800 non-null   object
 11  Sales         9800 non-null   float64
dtypes: float64(2), object(10)
memory usage: 918.9+ KB

### export data to excel for manual assessment

In [67]:
df.to_excel('sales.xlsx', index = False)

### Issue with dataset
- `Postal Code` contain missing values.
- Contain duplicate values.

In [68]:
df.head()

,Order Date,Ship Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales
0,08/11/2017,11/11/2017,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Bookcases,261.9600
1,08/11/2017,11/11/2017,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,Chairs,731.9400
2,12/06/2017,16/06/2017,Second Class,Corporate,United States,Los Angeles,California,90036.0,West,Office Supplies,Labels,14.6200
3,11/10/2016,18/10/2016,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Furniture,Tables,957.5775
4,11/10/2016,18/10/2016,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Office Supplies,Storage,22.3680

In [69]:
# check for duplicate
df.duplicated().sum()

np.int64(2)

In [70]:
# check for null values
df.isnull().sum()

Order Date       0
Ship Date        0
Ship Mode        0
Segment          0
Country          0
City             0
State            0
Postal Code     11
Region           0
Category         0
Sub-Category     0
Sales            0
dtype: int64

In [71]:
# stats description
df.describe()

        Postal Code         Sales
count   9789.000000   9800.000000
mean   55273.322403    230.769059
std    32041.223413    626.651875
min     1040.000000      0.444000
25%    23223.000000     17.248000
50%    58103.000000     54.490000
75%    90008.000000    210.605000
max    99301.000000  22638.480000

### Drop duplicated values

In [72]:
df.drop_duplicates(inplace = True)

In [73]:
df.duplicated().sum()

np.int64(0)

### Postal Code

In [74]:
df['Postal Code'].value_counts()

Postal Code
10035.0    253
10024.0    225
10009.0    220
94122.0    195
10011.0    193
94110.0    166
98105.0    165
19134.0    160
90049.0    150
98103.0    149
19140.0    149
94109.0    139
90045.0    136
90036.0    122
43229.0    119
90004.0    117
77041.0    114
19143.0    114
98115.0    112
19120.0    109
60610.0    108
77095.0    104
90008.0    102
60623.0    101
90032.0    101
60653.0     99
77070.0     91
32216.0     75
92105.0     74
31907.0     67
77036.0     65
85023.0     63
92037.0     62
78207.0     59
19711.0     57
75217.0     55
75220.0     53
48227.0     51
28205.0     51
28540.0     50
22153.0     50
75081.0     48
42420.0     48
80219.0     44
21215.0     43
95123.0     42
53209.0     40
65807.0     39
30318.0     39
92024.0     39
78745.0     39
97477.0     38
49201.0     38
44105.0     38
48234.0     36
33614.0     36
14609.0     36
43055.0     35
60505.0     34
45503.0     34
80013.0     34
47201.0     34
39212.0     34
1841.0      33
40214.0     33
40475.0     33
85705.0     32
11561.0     32
22204.0     32
2908.0      31
43130.0     31
43615.0     31
38109.0     30
29203.0     30
20735.0     29
37211.0     29
76017.0     28
85204.0     28
68104.0     28
48205.0     28
97301.0     27
23223.0     27
33180.0     27
19805.0     27
28314.0     27
76106.0     27
93727.0     26
77340.0     26
74133.0     26
94601.0     26
91104.0     25
80906.0     25
72209.0     24
37918.0     24
8701.0      23
21044.0     23
55407.0     23
73120.0     23
85301.0     23
97206.0     22
33801.0     22
11572.0     22
2149.0      21
27604.0     21
47374.0     21
80027.0     21
90805.0     20
7501.0      20
44312.0     20
6824.0      19
79907.0     19
62521.0     19
78501.0     19
92804.0     19
38401.0     18
46203.0     18
70506.0     18
23320.0     18
33178.0     18
33012.0     18
30076.0     18
13021.0     17
2038.0      17
55901.0     17
45231.0     17
77506.0     17
44107.0     17
32303.0     17
93309.0     16
92683.0     16
89031.0     16
85345.0     16
19013.0     16
1852.0      16
94513.0     16
90301.0     16
23464.0     16
92374.0     16
2920.0      15
12180.0     15
85234.0     15
10701.0     15
30080.0     15
75023.0     15
55044.0     15
22304.0     15
3301.0      15
98026.0     14
92704.0     14
43302.0     14
45014.0     14
72701.0     14
95661.0     14
30328.0     14
33024.0     14
92503.0     14
87105.0     14
45373.0     14
95823.0     13
48185.0     13
48183.0     13
35601.0     13
89115.0     13
24153.0     13
43017.0     13
27405.0     13
75007.0     13
33311.0     13
75051.0     13
85281.0     13
78041.0     13
85254.0     12
37604.0     12
50315.0     12
48640.0     12
71203.0     12
23602.0     12
27217.0     11
60076.0     11
23666.0     11
6708.0      11
95928.0     11
88220.0     11
37064.0     11
6040.0      11
6450.0      11
33021.0     11
36608.0     11
33142.0     11
72401.0     11
47905.0     11
46226.0     11
11550.0     11
33317.0     11
61107.0     11
37130.0     11
2169.0      11
32839.0     11
33437.0     10
84604.0     10
20016.0     10
92553.0     10
53711.0     10
22980.0     10
36116.0     10
37421.0     10
79109.0     10
80229.0     10
65203.0     10
17602.0     10
38301.0     10
23434.0     10
35810.0     10
7060.0      10
3820.0      10
7109.0      10
14215.0     10
13601.0     10
93030.0      9
94533.0      9
27834.0      9
44134.0      9
54880.0      9
39401.0      9
62301.0      9
28403.0      9
53132.0      9
27707.0      9
53142.0      9
84057.0      9
6457.0       9
28110.0      9
44052.0      9
19901.0      9
57103.0      9
44256.0      9
41042.0      9
40324.0      8
90712.0      8
33023.0      8
8861.0       8
84106.0      8
10550.0      8
78415.0      8
90278.0      8
94521.0      8
80134.0      8
61701.0      8
92627.0      8
59405.0      8
43402.0      8
6010.0       8
60540.0      8
55122.0      8
92054.0      8
97756.0      8
98031.0      8
93905.0      8
97224.0      8
75061.0      8
8360.0       8
48911.0      8
46350.0      8
81001.0      8
33065.0      8
68025.0      8
28027.0      8
30062.0      7
58103.0      7
84062.0      7
33710.0      7
98198.0      7
60035.0      7
38671.0      7
47401.0      7
2151.0       7
92307.0      7
61604.0      7
83201.0      7
37042.0      7
80525.0      7
32712.0      7
7960.0       7
13501.0      7
99207.0      7
78664.0      7
18103.0      7
78521.0      7
28806.0      7
37167.0      7
67212.0      7
91767.0      7
22801.0      7
44060.0      6
85323.0      6
92404.0      6
7601.0       6
36830.0      6
48127.0      6
99301.0      6
94591.0      6
1453.0       6
93101.0      6
7050.0       6
97405.0      6
27893.0      6
92646.0      6
2138.0       6
92630.0      6
48601.0      6
95051.0      6
60016.0      6
11520.0      6
60174.0      6
31204.0      6
94526.0      6
13440.0      6
30605.0      6
27511.0      6
71111.0      6
48066.0      6
85224.0      6
76706.0      6
95207.0      6
94086.0      6
46614.0      6
55113.0      6
7090.0       6
10801.0      6
98006.0      6
77573.0      6
66212.0      6
60440.0      6
79424.0      6
29501.0      6
77642.0      6
54703.0      6
7055.0       6
6460.0       6
54601.0      5
84321.0      5
20852.0      5
32725.0      5
84084.0      5
93010.0      5
67846.0      5
37620.0      5
74012.0      5
37075.0      5
2886.0       5
48104.0      5
35630.0      5
19601.0      5
32137.0      5
44240.0      5
17403.0      5
98502.0      5
79762.0      5
76021.0      5
66062.0      5
18018.0      5
80020.0      5
63116.0      5
97030.0      5
2740.0       5
93534.0      5
78550.0      5
75701.0      5
60188.0      5
49505.0      5
98661.0      5
75150.0      5
91360.0      5
4401.0       5
92691.0      5
48126.0      5
75002.0      4
6360.0       4
75043.0      4
63301.0      4
75019.0      4
85364.0      4
73505.0      4
92677.0      4
45011.0      4
61032.0      4
83704.0      4
32114.0      4
89502.0      4
1810.0       4
53081.0      4
47150.0      4
76903.0      4
97504.0      4
95037.0      4
28052.0      4
80538.0      4
80004.0      4
60201.0      4
26003.0      4
46142.0      4
2895.0       4
92345.0      4
33319.0      4
90503.0      4
91730.0      4
74403.0      4
54401.0      4
83642.0      4
35244.0      4
55369.0      4
46060.0      4
93277.0      4
92592.0      4
71901.0      4
78577.0      4
60126.0      4
76117.0      4
54302.0      4
78666.0      4
98042.0      4
97123.0      4
77803.0      4
98059.0      3
1915.0       3
95351.0      3
91505.0      3
80501.0      3
33445.0      3
89431.0      3
70601.0      3
48310.0      3
33407.0      3
77705.0      3
77590.0      3
84107.0      3
33068.0      3
95695.0      3
77581.0      3
52001.0      3
91911.0      3
34952.0      3
56301.0      3
84020.0      3
49423.0      3
55125.0      3
2148.0       3
88001.0      3
60090.0      3
60098.0      3
98226.0      3
98632.0      3
52601.0      3
60068.0      3
33433.0      3
78539.0      3
75056.0      3
33030.0      3
98052.0      3
92025.0      3
87401.0      3
44221.0      3
37087.0      3
4240.0       3
48187.0      3
27360.0      3
39503.0      3
48180.0      3
59601.0      3
95336.0      3
7002.0       3
30344.0      3
89015.0      3
91776.0      3
83605.0      3
85635.0      3
50322.0      3
48146.0      3
77840.0      3
60543.0      3
92236.0      2
98270.0      2
64118.0      2
16602.0      2
53214.0      2
55124.0      2
33161.0      2
28601.0      2
91941.0      2
75034.0      2
87505.0      2
80112.0      2
29483.0      2
14701.0      2
55106.0      2
56560.0      2
48237.0      2
88101.0      2
75104.0      2
29406.0      2
46544.0      2
60089.0      2
83301.0      2
71603.0      2
75080.0      2
76063.0      2
1752.0       2
80634.0      2
32771.0      2
52302.0      2
92020.0      2
87124.0      2
43123.0      2
92672.0      2
47362.0      2
57701.0      2
7011.0       2
54915.0      2
42301.0      2
73071.0      2
84043.0      2
63122.0      2
60423.0      2
20877.0      2
35401.0      2
55433.0      2
31088.0      2
42104.0      2
59715.0      2
22901.0      2
55016.0      2
71854.0      2
48073.0      2
8302.0       2
14304.0      2
76051.0      2
8901.0       2
6484.0       2
42071.0      2
73034.0      2
46514.0      2
86442.0      2
64055.0      2
3060.0       2
70065.0      2
20707.0      2
33134.0      2
60441.0      1
93454.0      1
94061.0      1
38134.0      1
6810.0       1
50701.0      1
90640.0      1
98208.0      1
27534.0      1
80022.0      1
60025.0      1
61832.0      1
48858.0      1
83501.0      1
46368.0      1
95610.0      1
52240.0      1
77536.0      1
29730.0      1
77520.0      1
94568.0      1
11757.0      1
33063.0      1
32503.0      1
60302.0      1
60004.0      1
7017.0       1
21740.0      1
57401.0      1
61821.0      1
66502.0      1
60477.0      1
77301.0      1
92399.0      1
94403.0      1
77489.0      1
59102.0      1
29464.0      1
53186.0      1
95687.0      1
60462.0      1
92253.0      1
68701.0      1
33458.0      1
72756.0      1
1040.0       1
48307.0      1
80122.0      1
32174.0      1
91761.0      1
27514.0      1
59801.0      1
32127.0      1
76248.0      1
32935.0      1
68801.0      1
95616.0      1
82001.0      1
72032.0      1
96003.0      1
98002.0      1
7036.0       1
92530.0      1
84041.0      1
92563.0      1
90604.0      1
61761.0      1
79605.0      1
94509.0      1
63376.0      1
65109.0      1
34741.0      1
90660.0      1
52402.0      1
93405.0      1
8401.0       1
60067.0      1
44035.0      1
72762.0      1
Name: count, dtype: int64

In [75]:
df[df['Postal Code'].isnull()]

,Order Date,Ship Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales
2234,05/12/2018,10/12/2018,Standard Class,Corporate,United States,Burlington,Vermont,NaN,East,Technology,Accessories,205.03
5274,07/11/2016,09/11/2016,Second Class,Consumer,United States,Burlington,Vermont,NaN,East,Furniture,Chairs,715.20
8798,06/04/2017,10/04/2017,Standard Class,Home Office,United States,Burlington,Vermont,NaN,East,Technology,Phones,1294.75
9146,23/01/2017,27/01/2017,Standard Class,Corporate,United States,Burlington,Vermont,NaN,East,Technology,Accessories,99.98
9147,23/01/2017,27/01/2017,Standard Class,Corporate,United States,Burlington,Vermont,NaN,East,Office Supplies,Art,8.04
9148,23/01/2017,27/01/2017,Standard Class,Corporate,United States,Burlington,Vermont,NaN,East,Office Supplies,Storage,1564.29
9386,19/01/2018,23/01/2018,Standard Class,Consumer,United States,Burlington,Vermont,NaN,East,Office Supplies,Paper,79.92
9387,19/01/2018,23/01/2018,Standard Class,Consumer,United States,Burlington,Vermont,NaN,East,Office Supplies,Paper,12.28
9388,19/01/2018,23/01/2018,Standard Class,Consumer,United States,Burlington,Vermont,NaN,East,Office Supplies,Appliances,542.94
9389,19/01/2018,23/01/2018,Standard Class,Consumer,United States,Burlington,Vermont,NaN,East,Office Supplies,Envelopes,2.04
9741,08/11/2016,12/11/2016,Standard Class,Corporate,United States,Burlington,Vermont,NaN,East,Furniture,Bookcases,4404.90

In [78]:
# Postal code of United States Burlington Vermont is 05402
df['Postal Code'].fillna(0o5402, inplace = True)

In [83]:
# check
df.isnull().sum()

Order Date      0
Ship Date       0
Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
dtype: int64

### Export cleanned dataset

In [84]:
df.to_csv('cleaned-sales.csv', index = False)